<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーの記述-->
<%= render 'layouts/header' %>
    <!--ヘッダーの記述-->

    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->
    </div>

    <% if user_signed_in? %>
    <div class='row'>
      <div class='col-xs-8 col-xs-offset-4'>
        <%= render 'search/form' %>
      </div>
    </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
